.shop__category-text {
  color: #555555;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  padding: 15px 20px 14px;
}
