.contacts__container {
  max-width: 972px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .contacts__container {
    flex-direction: column;
  }
}
