.header__cart-status {
  display: flex;
  padding: 7px 13px 7px 10px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #949393;
}

@media screen and (max-width: 640px) {
  .header__cart-status {
    width: 100%;
    border-top: none;
    padding: 22px 31px 25px 29px;
  }
}

@media screen and (max-width: 500px) {
  .header__cart-status {
    width: 100%;
    border-top: none;
    padding: 12px 31px 15px 29px;
  }
}

@media screen and (max-width: 385px) {
  .header__cart-status {
    min-height: 56px;
    padding: 0 31px 0 29px;
  }
}
