.brands__img {
  width: fit-content;
  height: fit-content;
  margin-right: 46px;
}

.brands__img:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .brands__img {
    margin: 0 23px;
  }
  .brands__img:nth-of-type(n+7) {
    display: none;
  }
}
