.about__title {
  color: #414141;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin: 29px auto 14px;
  padding: 0;
}
