.footer__menu-container {
  width: fit-content;
  height: fit-content;
}

.footer__menu-container:hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 115px;
  height: 198px;
}

.footer__menu-container:hover .footer__menu {
  display: block;
}

.footer__menu-container:hover .footer__button {
  position: absolute;
  left: 30px;
  bottom: 39px;
}
