.brands__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414141;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

